<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fornax.Net.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fornax.Net.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fornax.Net.config>
            <setting name="resources_dir" serializeAs="String">
                <value>..\..\..\..\..\res\</value>
            </setting>
            <setting name="libraries_dir" serializeAs="String">
                <value>..\..\Lib\</value>
            </setting>
            <setting name="prolog_database" serializeAs="String">
                <value>..\..\..\..\..\res\Wordnet\prolog\</value>
            </setting>
            <setting name="synonyms_file" serializeAs="String">
                <value>..\..\..\..\..\res\Wordnet\prolog\wn_s.pl</value>
            </setting>
            <setting name="english_database" serializeAs="String">
                <value>..\..\..\..\..\res\Box\en\</value>
            </setting>
            <setting name="en_sortedStops_path" serializeAs="String">
                <value>..\..\..\..\..\res\Box\en\en_stop.txt</value>
            </setting>
            <setting name="en_rankedStops_path" serializeAs="String">
                <value />
            </setting>
            <setting name="en_sortedStems_path" serializeAs="String">
                <value>..\..\..\..\..\res\Box\en\en_stem.txt</value>
            </setting>
            <setting name="en_sortedDictionary_path" serializeAs="String">
                <value>..\..\..\..\..\res\Box\en\en_voc.txt</value>
            </setting>
            <setting name="en_Synonyms_path" serializeAs="String">
                <value>..\..\..\..\..\res\Box\en\en_syns.txt</value>
            </setting>
            <setting name="en_sortedUnsafeWords_path" serializeAs="String">
                <value />
            </setting>
            <setting name="french_database" serializeAs="String">
                <value>..\..\..\..\..\res\Box\fr\</value>
            </setting>
            <setting name="fr_sortedStops_path" serializeAs="String">
                <value>..\..\..\..\..\res\Box\fr\fr_stop.txt</value>
            </setting>
            <setting name="fr_sortedCommentedStops_path" serializeAs="String">
                <value>..\..\..\..\..\res\Box\fr\fr_stop_cnt.txt</value>
            </setting>
            <setting name="fr_sortesStems_path" serializeAs="String">
                <value>..\..\..\..\..\res\Box\fr\fr_stem.txt</value>
            </setting>
            <setting name="fr_sortedDictionary_path" serializeAs="String">
                <value>..\..\..\..\..\res\Box\fr\fr_voc.txt</value>
            </setting>
            <setting name="FileFormats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.dhtml</string>
                        <string>.fxml</string>
                        <string>.html</string>
                        <string>.shtml</string>
                        <string>.xaml</string>
                        <string>.xhtml</string>
                        <string>.xml</string>
                        <string>.csv</string>
                        <string>.doc</string>
                        <string>.docx</string>
                        <string>.epub</string>
                        <string>.pdf</string>
                        <string>.rtf</string>
                        <string>.eml</string>
                        <string>.msg</string>
                        <string>.vcf</string>
                        <string>.ans</string>
                        <string>.ascii</string>
                        <string>.c</string>
                        <string>.cs</string>
                        <string>.java</string>
                        <string>.txt</string>
                        <string>.gzip</string>
                        <string>.rar</string>
                        <string>.zip</string>
                        <string>.asp</string>
                        <string>.aspx</string>
                        <string>.mp3</string>
                        <string>.mp4</string>
                        <string>.jpeg</string>
                        <string>.jpg</string>
                        <string>.png</string>
                        <string>.tiff</string>
                        <string>.xl</string>
                        <string>.xlr</string>
                        <string>.xls</string>
                        <string>.xlsm</string>
                        <string>.xlsx</string>
                        <string>.ppt</string>
                        <string>.pptx</string>
                        <string>.pub</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DOM_format" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.dhtml</string>
                        <string>.fxml</string>
                        <string>.html</string>
                        <string>.shtml</string>
                        <string>.xaml</string>
                        <string>.xhtml</string>
                        <string>.xml</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TEXT_format" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.csv</string>
                        <string>.doc</string>
                        <string>.docx</string>
                        <string>.epub</string>
                        <string>.pdf</string>
                        <string>.rtf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EMAIL_format" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.eml</string>
                        <string>.msg</string>
                        <string>.vcf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PLAIN_format" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.ans</string>
                        <string>.ascii</string>
                        <string>.c</string>
                        <string>.cs</string>
                        <string>.java</string>
                        <string>.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ZIP_format" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.gzip</string>
                        <string>.rar</string>
                        <string>.zip</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WEB_format" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.asp</string>
                        <string>.aspx</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MEDIA_format" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.mp3</string>
                        <string>.mp4</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IMAGE_format" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.jpeg</string>
                        <string>.jpg</string>
                        <string>.png</string>
                        <string>.tiff</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SHEET_format" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.xl</string>
                        <string>.xlr</string>
                        <string>.xls</string>
                        <string>.xlsm</string>
                        <string>.xlsx</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SLIDE_format" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.ppt</string>
                        <string>.pptx</string>
                        <string>.pub</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Fornax.Net.config>
    </applicationSettings>
    <userSettings>
        <Fornax.Net.config>
            <setting name="FornaxLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="QueryIsSafeSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QueryIsExpand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QueryAutoCorrect" serializeAs="String">
                <value>False</value>
            </setting>
        </Fornax.Net.config>
    </userSettings>
</configuration>